{% extends "base.html" %} {% block title %}Tasty Truths — About Us{% endblock %} {%
block content %}
<!-- Author: Sean Farkas Created During CI102 -->
 <!-- Modified: Joaquin Descotte and Sean Farkas 01/2026-->
<main>
  <div class="About-us-section">
    <h1 p style="text-align: center;">About Tasty Truths</h1>
    <p>
      Tasty Truths is all about helping you find that perfect recipe hassle free.
      Our team consists of a group of hard working students from Drexel
      University, who were tired of trying to find recipes that were blocked
      behind paywalls or hundreds of different ads and wanted to make a change.
    </p>
    <br />
    <p>
      We designed Tasty Truths for a easy and interactive experience for our
      users. From easy to navigate menus to the ability to rate and leave a
      review, Tasty Truths has it all. On Tasty Truths, Users have the ability to
      express their creative side with recipes they have created or changed.
      People can than interact with these recipes to give feedback and suggestions
      or just give complements to the chef for their amazing creations.
    </p>
    <br />
    <p>
      If users are looking for more of a social involvement, Tasty Truths can help
      also. Our blog pages allows users to share their experiences in the kitchen
      for other users to see. You can ask for recommendations or for help if you
      are stuck and don't know why something turned out the way it did. Tasty
      Truths also has a contact page which can help you reach out to different
      chefs about questions or partnering up on a recipe.
    </p>
  </div>
  <h1 p style="text-align: center;">Meet the Team</h1>

  <div class="Author-template">

    <div class="author-card">
      <h2>Joaquin Descotte</h2>
      <img src="../static/assets/images/Joaquin_Photo.png" alt="Photo of Joaquin" class="About-us-photo">
      <div class="author-bio">
        <p> 
          Hi, my name is Joaquin Descotte and I am a transfer student from Bucks County Community College and my major here at drexel is Computer Science. 
          I am originally from Buenos Aires, Argentina, and I moved here to the US almost 4 years ago, so I have plenty of experience with dealing with people with different cultural values and mindsets. I also have experience with Python, Java, HTML, CSS, MySQL, and Git. 
          Currently I am in a team that is building a website that helps people (whether its your professional cooker or just an everyday person cooking for theirselves) find recipes, and post recipes so that everyone has access to delicious meals.
            <br><br>
              Read more about Joaquin Descotte <a href="https://www.cs.drexel.edu/~jud25/" target="_blank">here</a>. 
        </p>
      </div>
      <br>
    </div>

    <div class="author-card">
      <h2>Ryan Gilinger</h2>
      <img src="../static/assets/images/RyanG_Photo.png" alt="Photo of Ryan G" class="About-us-photo">
      <div class="author-bio">
        <p>
          Hi my name is Ryan Gilinger and i am a transfer student here at Drexel University studying computer science.
          I have experience with java and currently learning about python and web development.
          I also have experience working in with a team in a fast paced environment. 
          I am currently working on a recipe sharing website on a team. 
            <br><br>
              Read more about Ryan Gilinger <a href="https://www.cs.drexel.edu/~rg993/" target="_blank">here</a>.
        </p>
      </div>
      <br>
    </div>

    <div class="author-card">
      <h2>Ryan Nash</h2>
      <img src="../static/assets/images/RyanN_Photo.png" alt="Photo of Ryan N" class="About-us-photo">
      <div class="author-bio">
        <p>
          Hello my name is Ryan Nash. I am a transfer student from Bucks County Community College. 
          I have experience in Python, Rust, HTML, CSS, Java and several database techniques. 
          I look forward to sharing my knowledge while gaining experience, and believe that I can bring a lot to the table to get this project up and running.
            <br><br>
              Read more about Ryan Nash <a href="https://www.cs.drexel.edu/~rkn37/" target="_blank">here</a>. 
        </p>
        </div>
      <br>
    </div>

    <div class="author-card">
      <h2>Sean Farkas</h2>
      <img src="../static/assets/images/Sean_Photo.png" alt="Photo of Sean" class="About-us-photo">
      <div class="author-bio">
        <p>
          Hello, my name is Sean Farkas. I am a transfer student at Drexel. I have experience in Java, Python, and some HTML.
          I am a hard worker and I strive to put out the best products possible. I am building a website made for cooks, and those who enjoy
          making food. 
            <br><br>
              Read more about Sean Farkas <a href="https://www.cs.drexel.edu/~smf428/" target="_blank">here</a>. 
        </p>
      </div>
    </div>
  </div>
</main>

{% endblock %}
